:root {
  --white: #fff;
  --orange: #f36c00;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
}

.carousel {
  position: fixed;
  top: 0;
  transform: translateX(50vw);
  height: 100%;
  width: 100%;
  display: flex;
  flex: 5;
  align-items: center;
  color: #fff;
  z-index: 4;
}

.slides {
  align-self: flex-start;
  flex: 1;
}

.carousel-inner {
  position: relative;
  max-height: 100vh;
  height: 100vh;
}

.carousel-item {
  position: absolute;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  opacity: 0;
  top: 200px;
  transition: transform 1s ease, opacity 0.4s ease;
}

.carousel-item.visible {
  opacity: 1;
}

@media only screen and (max-width: 1600px) {
  .carousel {
    top: -10vh;
    transform: translateX(48vw);
  }
}

@media only screen and (max-width: 1400px) {
  .carousel {
    top: -15vh;
    transform: translateX(46vw);
  }
}

@media only screen and (max-width: 1300px) {
  .carousel {
    top: -15vh;
  }
}

@media only screen and (max-width: 900px) {
  .carousel-item {
    top: 150px;
    z-index: 1;
  }

  .carousel {
    position: fixed;
    transform: translateX(0vw);
    top: 15vh;
    z-index: 2;
    height: calc(90vw * 10 / 16);
  }

  .carousel-inner {
    height: 100%;
    max-height: 100%;
    top: 0;
  }

  .carousel-item {
    top: 0;
  }
}

@media only screen and (min-height: 1000px) {
  .carousel {
    top: -8vh;
  }
}

@media only screen and (min-height: 900px) {
  @media only screen and (max-width: 900px) {
    .carousel {
      top: 12vh;
    }
  }
}

@media only screen and (max-height: 450px) {
  .carousel {
    display: none;
  }
}
